.mediaViewInfo {
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: index;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.index_Class {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	width: 414px;
	height: 2916px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
.Group_10_Class {
	position: absolute;
	width: 382px;
	height: 236px;
	left: 16px;
	top: 2680px;
	overflow: visible;
}
.Image_2_Class {
	position: absolute;
	width: 382px;
	height: 236px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.How_is_diff_Class {
	position: absolute;
	width: 378px;
	height: 347px;
	left: 18px;
	top: 2306px;
	overflow: visible;
}
.Our_open_social_platform_will__Class {
	position: absolute;
	left: 6px;
	top: 76px;
	overflow: visible;
	width: 367px;
	height: 271px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(123,123,123,1);
}
.How_is_BidSquawk_different__Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 379px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,128,128,1);
}
.Group_9_Class {
	position: absolute;
	width: 382px;
	height: 236px;
	left: 16px;
	top: 2029px;
	overflow: visible;
}
.Image_1_Class {
	position: absolute;
	width: 382px;
	height: 236px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.What_is_Class {
	position: absolute;
	width: 318px;
	height: 254px;
	left: 51px;
	top: 1702px;
	overflow: visible;
}
.An_open_social_platform_for_se_Class {
	position: absolute;
	left: 0px;
	top: 65px;
	overflow: visible;
	width: 319px;
	height: 189px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(123,123,123,1);
}
.What_is_BidSquawk__Class {
	position: absolute;
	left: 23px;
	top: 0px;
	overflow: visible;
	width: 267px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,128,128,1);
}
.Group_14_Class {
	position: absolute;
	width: 238.417px;
	height: 305.185px;
	left: 95.583px;
	top: 1323.815px;
	overflow: visible;
}
.Icons_Class {
	position: absolute;
	width: 61.52px;
	height: 304.211px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Listing_Class {
	position: absolute;
	width: 57.008px;
	height: 52.56px;
	left: 0px;
	top: 251.65px;
	overflow: visible;
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 12.743px;
	height: 12.743px;
	left: 0px;
	top: 19.909px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 12.743px;
	height: 12.743px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_6 {
	overflow: visible;
	position: absolute;
	width: 12.743px;
	height: 12.743px;
	left: 0px;
	top: 39.818px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 38.228px;
	height: 4.426px;
	left: 18.78px;
	top: 4.158px;
}
.Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 38.228px;
	height: 4.426px;
	left: 18.78px;
	top: 43.976px;
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 38.228px;
	height: 4.427px;
	left: 18.78px;
	top: 24.067px;
}
.Transfer_Class {
	position: absolute;
	width: 61.52px;
	height: 58.199px;
	left: 0px;
	top: 122.903px;
	overflow: visible;
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 61.52px;
	height: 28.526px;
	left: 0px;
	top: 29.673px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_8 {
	overflow: visible;
	position: absolute;
	width: 27.263px;
	height: 27.263px;
	left: 32.813px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Cash_Class {
	position: absolute;
	width: 59.238px;
	height: 52.397px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_9 {
	overflow: visible;
	position: absolute;
	width: 59.238px;
	height: 34.289px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 47.114px;
	height: 10.891px;
	left: 10.147px;
	top: 41.506px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_13_Class {
	position: absolute;
	width: 37.625px;
	height: 17.505px;
	left: 10.002px;
	top: 8.392px;
	overflow: visible;
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 17.505px;
	height: 17.505px;
	left: 10.06px;
	top: 0px;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 6.439px;
	height: 6.438px;
	left: 31.187px;
	top: 5.533px;
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 6.438px;
	height: 6.438px;
	left: 0px;
	top: 5.533px;
}
.Generate__more_income_Class {
	position: absolute;
	left: 123.417px;
	top: 0.185px;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(123,123,123,1);
}
.Control_your_money_Class {
	position: absolute;
	left: 128.417px;
	top: 128.185px;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(123,123,123,1);
}
.More__options_for_all_Class {
	position: absolute;
	left: 128.417px;
	top: 257.185px;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(123,123,123,1);
}
.Social_Class {
	position: absolute;
	width: 148px;
	height: 48.504px;
	left: 131.595px;
	top: 1164.496px;
	overflow: visible;
}
.twitter_square_black_and_white_Class {
	position: absolute;
	width: 23px;
	height: 23px;
	left: 66.405px;
	top: 25.504px;
	overflow: visible;
}
.Follow_our_twitter_for_updates_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -7.5px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,128,128,1);
}
.Early_Access_Class {
	position: absolute;
	width: 254px;
	height: 250px;
	left: 83px;
	top: 902px;
	overflow: visible;
}
.caspar_camille_rubin_XA0v5hbb7_Class {
	position: absolute;
	width: 254px;
	height: 250px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_8_Class {
	position: absolute;
	width: 182px;
	height: 106px;
	left: 36px;
	top: 72px;
	overflow: visible;
}
.Rectangle_7_Class {
	filter: blur(0px);
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 182px;
	height: 106px;
	left: 0px;
	top: 0px;
}
.Early_Access_Registration_Here_Class {
	position: absolute;
	left: 28px;
	top: 6px;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -2px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(255,255,255,1);
}
._US_applicants_only_Class {
	position: absolute;
	left: 97px;
	top: 185px;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 7px;
	color: rgba(255,255,255,1);
}
.Header_Class {
	position: absolute;
	width: 382px;
	height: 821px;
	left: 16px;
	top: 0px;
	overflow: visible;
}
.head_bg_Class {
	position: absolute;
	width: 382px;
	height: 430px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_1_Class {
	position: absolute;
	width: 333px;
	height: 186px;
	left: 25px;
	top: 577px;
	overflow: visible;
}
.MacBook_Pro_16_Mockup_Ai_Class {
	filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.31));
	position: absolute;
	width: 330px;
	height: 185px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Iphone_shots_Class {
	position: absolute;
	width: 80px;
	height: 140px;
	left: 253px;
	top: 46px;
	overflow: visible;
}
.Group_2_Class {
	position: absolute;
	width: 259px;
	height: 229px;
	left: 71px;
	top: 110px;
	overflow: visible;
}
.More_jobs_for_Freelancers_More_Class {
	position: absolute;
	left: 0px;
	top: 157px;
	overflow: visible;
	width: 224px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Freelancing____Services_Class {
	position: absolute;
	left: 0px;
	top: 24px;
	overflow: visible;
	width: 260px;
	white-space: nowrap;
	line-height: 38px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.is_here_and_its_social_Class {
	position: absolute;
	left: 0px;
	top: 107px;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.The_future_of_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.Group_3_Class {
	position: absolute;
	width: 175px;
	height: 94px;
	left: 115px;
	top: 456px;
	overflow: visible;
}
.Logo_3d_Class {
	position: absolute;
	width: 46px;
	height: 55px;
	left: 65px;
	top: 0px;
	overflow: visible;
}
.Banner_Class {
	position: absolute;
	width: 175px;
	height: 23px;
	left: 0px;
	top: 71px;
	overflow: visible;
}
.google_play_seeklogo_com_Class {
	position: absolute;
	width: 103px;
	height: 26px;
	left: 83px;
	top: 795px;
	overflow: visible;
}
.apple_store_for_education_seek_Class {
	position: absolute;
	width: 103.061px;
	height: 23.199px;
	left: 219.252px;
	top: 797.617px;
	overflow: visible;
}
.Will_be_available_on_Class {
	position: absolute;
	left: 154px;
	top: 773px;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(123,123,123,1);
}